@font-face {
    font-family: 'Futura Heavy';
    src: url('futuraheavy.ttf') format('truetype');
    src: url('futuraheavy-webfont.woff2') format('woff2'),
         url('futuraheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Light';
    src: url('futuraLight-webfont.woff2') format('woff2'),
         url('futuraLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@media (min-width: 768px) and (max-width: 865px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

@media (min-width: 865px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
}*/

.navsmall {
    /*font-size: 50%;*/
    height: 5%;
    line-height: 0px;
}

body {
    /*background-image: url("../img/parkcityMed.jpg");*/
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Futura Light';
    font-size: 150%;
    /*padding-top: 50px;*/
}

.customNavBar {
    font-family: 'Futura Heavy';
    /*background-color: rgba(0,201,255);*/
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    background-image: url("../img/parkcityCropShort.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 100px;
    /*text-shadow: white .01em .01em .01em
                ,white .02em .02em .02em
                ,white .03em .03em .03em*/
}


.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
    font-size: 155%
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.bottomAlign {
    padding-top: 20px;
    padding-bottom: 0px;
    vertical-align: bottom;
}



.navbar-nav > li > a {
  padding-bottom: 0px;
  vertical-align: bottom;
  color: white;
}

.navbar-default > li > a {
    color: white;
}

.singlespace {
        line-height: 50%;
}

.navbarDisappear {
    line-height: 15px;
}

@media (min-width: 300px) {

    /*.navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
      padding: 5px 15px 5px 25px;
    }*/
    .customNavBar {
        padding-top: 20px;
    }
}


@media (min-width: 767px) {

    /*.navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
      padding: 5px 15px 5px 25px;
    }*/
    .navbarDisappear {
      display: none;
    }
}


  @media (min-width: 930px) {

      /*.navbar-nav .open .dropdown-menu > li > a,
      .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
      }*/
      .navbarDisappear {
        display: inherit;
    }
}

/*
.navbar-brand {

    color: beige;
    text-shadow: #50a38f .01em .01em 0
                ,#50a38f .02em .01em 0
                ;
    font-size: 200%;

}
.menu-items {
    color: beige;
    text-shadow: #50a38f .01em .01em 0
                ,#50a38f .02em .01em 0
                ;
}


.navbarCustom {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
    font-weight: normal;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #f4f1de;
}


li {
    color: #f4f1de;
    font-size: 200%;
}
*/
/* Change the link color to #111 (black) on hover */
/*li a:hover {
    background-color: #50a38f;
}*/

/*p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
}*/
