body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 6px;
	padding: 2em;
	background: teal;
	color: #f4f1de;
	font-size: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
    font-weight: normal;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 12px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #f4f1de;
    text-align: center;
    padding: 0px 8px;
    text-decoration: none;
    font-size: 300%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #50a38f;
}

/*main {
    width: 450px;
    margin: 1em auto;
    padding: 1em;
    background: white;
    border: 2px solid blue;
    font-size: 10px;
}*/
h3 {
    text-align: left;
    text-indent: -.12em;
    color: beige;
    font: 100px "Yanone Kaffeesatz","Yanone Kaffeesatz", 'Yanone Kaffeesatz', sans-serif;
    font-weight: 900;
    display: inline-block;
    margin: 0 auto;
    line-height: 1;
    width: 100%;
    text-shadow:
        #50a38f .01em .01em 0,
        #50a38f .02em .02em 0,
        #50a38f .03em .03em 0,
        #50a38f .04em .04em 0 /*,
        #50a38f .05em .05em 0,
        #50a38f .06em .06em 0,
        #50a38f .07em .07em 0,
        #50a38f .08em .08em 0,
        #50a38f .09em .09em 0,
        #50a38f .1em .1em 0*/
        ;
}

h4 {
    text-align: right;
    margin-right: 8em;
}

br {
    clear: left;
}

p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
}

.bulletedList {
    list-style-image: none;
    list-style-type: disc;
    font-weight: 400;
}

.collapsingTreeList {
    list-style-image : url(../img/plus.png);
    list-style-type: none;
    font-weight: bold;
}

.menu-items {
    margin-top: 0;
    color: beige;
    text-shadow: #50a38f .01em .01em 0
                ,#50a38f .02em .01em 0
                ;
}

.ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .ui-draggable, .ui-resizable {
    color: #50a38f;
    background:beige;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-menu {
    width: 200px;
    font-size: 24px;
}
